.screenshots {
    width: calc(100% - 7px);
    padding: 16px;
    border-radius: 0;
    text-align: center;
    margin: 0 -16px 26px -16px;
    overflow-x: auto;
    margin-left: -16px;
    margin-right: -16px;
}

.screenshots__title {
    color: black;
    border: 1px solid orange;
    width: auto;
    max-width: 225px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.screenshots__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 1px solid rgba(175, 175, 175, 0.236);
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(175, 175, 175, 0.236);
}

.screenshots__items > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-right: 16px;
}

.screenshots__items > :last-child {
    margin-right: 0;
}

.screenshots__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 -16px;
}

.screenshots__arrow {
    background-color: transparent;
    border: none;
    font-size: 32px;
    padding: 8px 16px;
    cursor: pointer;
    color: black;
}

.screenshots__arrow--left {
    margin-right: 16px;
}

.screenshots__arrow--right {
    margin-left: 16px;
}
